// Color palette
// TODO: Phase out camelcased variable names.
$primary:            gray;
$secondary:          #dd4b39;
$white:              #fff;
$gray-typography:    #999;
$bodyBackground:     #efefef;
$contentBackground:  #fff;
$panel-white:        #f1f1f1;

$primaryButton:      #5c778a; // phase-out
$successButton:      #346E5A; // phase-out

$primary-button:     #5c778a;
$success-button:     #346E5A;

$navbarBackground:   #45484d;
$navbarText:         #fff;
$navbarLinkActive:   #e1e1e1;

$panel-default-color: #fff;
$list-gray:           #dcdcdc;