.form-horizontal .control-label {
  text-align: left;
}

// TODO: set .formSep to .form-sep
.form-horizontal .formSep {
  border-bottom: 1px dashed $list-gray;
  margin-bottom: 12px;
  padding-bottom: 12px;
}
