.input-group-addon {
  background-color: $white;
  border: 0;
}

.list-group-item.active,
.list-group-item.active:hover {
  background-color: $primary-button;
  border-color: $primary-button;
}

.dl-horizontal dt {
  padding-right: 2em;
  text-align: left;
}

.dl-horizontal dd {
  border-bottom: 1px dashed $list-gray;
  margin-bottom: 12px;
  margin-left: 0;
  padding-bottom: 12px;
}

// TODO: set .splitScreen to .split-screen
.splitScreen {
  border-bottom: 1px dashed $list-gray;
  min-height: 70px;
  width: 1px;
}

// TODO: set .ticketDetails to .ticket-details
.ticketDetails {
  list-style-type: none;

  // .ticketDetails li
  li {
    border-bottom: 1px dashed $list-gray;
    margin-bottom: 12px;
    margin-left: 0;
    padding-bottom: 12px;
    padding-left: 0;
  }
}
