.navbar-fixed-top {
  min-height: 40px;
}

// header
.navbar .brand {
  color: $navbar-text;
  font: 100 18px/38px 'PT Sans', sans-serif;
  padding-bottom: 0;
  padding-top: 0;
  text-decoration: none;
  text-shadow: none;
  width: 200px;
}

.navbar .nav > li > a {
  padding: 10px 10px 9px;
  text-shadow: none;
}

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background: none;
  color: $navbar-text;
}

.navbar-inner {
  background: $navbar-background;
  color: $navbar-text;
}

// link
.navbar-default .navbar-nav > li > a {
  color: $navbar-text;
  padding: 10px 10px 9px;
  text-shadow: none;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: $navbar-link-active;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: $navbar-link-active;
  color: $navbar-text;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: $navbar-link-active;
  color: $navbar-text;
}

.navbar .dropdown-notifications .extra_menu .dropdown-menu {
  left: 0 !important;
  right: auto !important;
}

.navbar .dropdown-notifications .extra_menu .dropdown-menu:after {
  left: 10px !important;
  right: auto !important;
}

.navbar .dropdown-notifications .extra_menu .dropdown-menu:before {
  left: 9px !important;
  right: auto !important;
}
